@import url('https://fonts.googleapis.com/css2?family=Mandali&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #0F0F12;
  color: #F8F5EE;
  font-family: 'Plus Jakarta Sans', sans-serif;
  overflow-x: hidden;
}
